<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Care Records</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        /* Custom styles for header */
        .header {
            background-color: #006400;  /* Dark green */
            padding: 4px;
            color: white;
            text-align: center;
        }
        .flash-success {
            color: green;
            background-color: #DFF2BF;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid green;
        }
    </style>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <h4>Care Records</h4>
        <!-- Display the current user's name and the current time -->
        {% if session.logged_in %}
            <p>Welcome {{ session.username }} | {{ session.current_time.strftime('%d-%m-%Y | %H:%M') }}</p>
        {% else %}
            <p>Welcome Guest | {{ session.current_time.strftime('%d-%m-%Y | %H:%M') }}</p>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12"> <br>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

<!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="flash-{{ category }} alert-dismissible" role="alert">{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<!-- JavaScript to automatically hide flash messages -->
<script>
// Wait for the DOM to be loaded
document.addEventListener("DOMContentLoaded", function() {
    // Select all elements with class starting with 'flash-'
    const flashMessages = document.querySelectorAll("[class^='flash-']");
    
    flashMessages.forEach(function(message) {
        // Hide message when clicked
        message.addEventListener("click", function() {
            message.style.display = "none";
        });
        
        // Automatically hide message after 5 seconds
        setTimeout(function() {
            message.style.display = "none";
        }, 5000);
    });
});
</script>

</body>
</html>
