<!-- c:/Users/Peter/Documents/Care-Home-4/app/templates/enter_resident.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Enter New Resident</h1>
    <form method="POST">
        <input type="text" name="resident_name" placeholder="Resident Name" value="{{ resident_name }}">
        <input type="text" name="resident_surname" placeholder="Resident Surname" value="{{ resident_surname }}">
        <input type="text" name="unit_name" placeholder="Unit Name" value="{{ unit_name }}">
        <input type="text" name="room_nr" placeholder="Room Number" value="{{ room_nr }}">
        {% if confirm %}
            <input type="hidden" name="confirm" value="Sure">
            <p class="warning">This unit and room number are already occupied. Are you sure you want to overwrite?</p>
        {% endif %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}