<!-- c:/Users/Peter/Documents/Care-Home-4/app/templates/enter_resident.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Enter New Resident</h1>
    <form method="POST">
        <input type="text" name="resident_name" placeholder="Resident Name">
        <input type="text" name="resident_surname" placeholder="Resident Surname">
        <input type="text" name="unit_name" placeholder="Unit Name">
        <input type="text" name="room_nr" placeholder="Room Number">
        <button type="submit">Submit</button>
    </form>
{% endblock %}