<!-- c:/Users/Peter/Documents/Care-Home-4/app/templates/fluid_intake_form.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Fluid Intake Form</h1>
    <form method="POST" action="{{ url_for('data_collection.submit_fluid_intake') }}" class="form-container">
        <input type="hidden" name="unit_name" value="{{ request.args.get('unit_name') }}">
        <input type="hidden" name="resident_initials" value="{{ request.args.get('resident_initials') }}">
        <div class="form-group">
            <label for="fluid_type">Fluid Type:</label>
            <select id="fluid_type" name="fluid_type" required>
                {% for fluid in fluid_list %}
                    <option value="{{ fluid[1] }}">{{ fluid[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="fluid_volume">Fluid Volume (ml):</label>
            <input type="number" id="fluid_volume" name="fluid_volume" class="no-spinner" required>
        </div>
        <div class="form-group">
            <label for="fluid_note">Note:</label>
            <textarea id="fluid_note" name="fluid_note"></textarea>
        </div>
        <div class="form-group">
            <p>Enter fluid volume '0' if refused</p>
            <p>Record 'refused' in Note tab</p>
        </div>    
        <button type="submit">Submit</button>
    </form>
{% endblock %}