<!-- c:/Users/Peter/Documents/Care-Home-4/app/templates/personal_care_form.html -->
{% extends "base.html" %}

{% block content %}
    <h2>Personal Care Form</h2>
    <form method="POST" action="{{ url_for('data_collection.submit_personal_care') }}" class="form-container">
        <input type="hidden" name="unit_name" value="{{ unit_name }}">
        <input type="hidden" name="resident_initials" value="{{ resident_initials }}">
        <div class="form-group">
            <label for="personal_care_type">Personal Care Type:</label>
            <select id="personal_care_type" name="personal_care_type" required>
                {% for care in personal_care_list %}
                    <option value="{{ care[1] }}">{{ care[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="personal_care_note">Note:</label>
            <textarea id="personal_care_note" name="personal_care_note" placeholder="Enter any notes here"></textarea>
        </div>
        <div class="form-group">
            <label for="personal_care_duration">Duration:</label>
            <textarea id="personal_care_duration" name="personal_care_duration" placeholder="Enter time of the care in minutes"></textarea>
        </div>

        <div class="form-group">
            <label for="input_time">Time of Input:</label>
            <input type="time" id="input_time" name="input_time" required>
        </div>
        <div class="form-group">
            <label for="staff_initials">Staff Initials:</label>
            <input type="text" id="staff_initials" name="staff_initials" required>
        </div>
        <button type="submit">Submit</button>
    </form>

    <script>
        // Set the default value of the time input field to the current time
        document.addEventListener('DOMContentLoaded', (event) => {
            const now = new Date();
            const hours = String(now.getHours()).padStart(2, '0');
            const minutes = String(now.getMinutes()).padStart(2, '0');
            document.getElementById('input_time').value = `${hours}:${minutes}`;
        });
    </script>
{% endblock %}