<!-- c:/Users/Peter/Documents/Care-Home-4/app/templates/report_cardex.html -->
{% extends "base.html" %}

{% block content %}
    <h3>Cardex Report</h3>
    <table>
        <thead>
            <tr>
                <th>Resident</th>
                <th>Date/Time</th>
                <th>Cardex Text</th>
                <th>Staff Initials</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('main.carer_menu', unit_name=unit_name, resident_initials=resident_initials) }}" class="btn-dark-green">Back to Menu</a>
{% endblock %}