<!-- c:/Users/Peter/Documents/Care-Home-4/app/templates/select_unit.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Select Unit</h1>
    <form method="POST" action="{{ url_for('data_collection.select_resident') }}">
        <div>
            <label for="unit_name">Unit Name:</label>
            <select id="unit_name" name="unit_name" required>
                {% for unit in units %}
                    <option value="{{ unit[0] }}">{{ unit[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Next</button>
    </form>
{% endblock %}