<!-- c:/Users/Peter/Documents/Care-Home-4/app/templates/select_resident.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Select Resident</h1>
    <form method="POST" action="{{ url_for('data_collection.data_collection_logic') }}">
        <input type="hidden" name="unit_name" value="{{ unit_name }}">
        <div>
            <label for="resident_initials">Resident Initials:</label>
            <select id="resident_initials" name="resident_initials" required>
                {% for resident in residents %}
                    <option value="{{ resident[0] }}" data-first-name="{{ resident[1] }}">{{ resident[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="service_name">Select Service:</label>
            <select id="service_name" name="service_name" required>
                {% for service in services %}
                    <option value="{{ service[1] }}">{{ service[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <input type="hidden" name="first_name" id="first_name">
        <button type="submit">Submit</button>
    </form>

    <script>
        document.getElementById('resident_initials').addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            document.getElementById('first_name').value = selectedOption.getAttribute('data-first-name');
        });
    </script>
{% endblock %}